@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Jost:wght@700&display=swap");
* {
  font-family: "Baloo Bhai 2", cursive;
}
nav {
  background-color: #f7f7f7;
  border-bottom: 1px solid rgb(217, 217, 217);
  padding: 20px;
}
.nav-item {
  margin: auto 30px;
}
.nav-link {
  color: black;
  font-size: 20px;
}
.nav-link:hover {
  color: gray;
}
.imgContainer {
  height: 65vh;
}
